<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css" type="text/css">
        <title>Result</title>
    </head>
    <body>
        <div class="main">
            <div class="wrapper">
                <% let items = Object.values(organizedItems); %>
                <% let category = Object.keys(organizedItems); %>

                <div class="tabs">
                    <% for(let i = 0; i < items.length; i++) {%>
                    <div class="tab">
                        <input type="radio" name="tab" id="tab--<%=i%>" class="tab__input js-tab-input"
                        <% if(i === 0) {%>
                               checked
                                <%}%>
                        >
                        <label for="tab--<%=i%>" class="tab__label">
                            <%= category[i] %>
                        </label>
                    </div>
                    <% } %>
                </div>
                <div class="tab-result">
                    <% for(let i = 0; i < items.length; i++) {%>
                        <div class="content js-content tab--<%=i%><%= i === 0 ? ' is-active' : ''%>">
                            <ul class="list">
                                <% for(let j = 0; j < items[i].length; j++) {%>
                                    <% let item = items[i][j] %>
                                    <li class="list-item">
                                        <img src="<%= item.icon %>" alt="<%= item.typeLine %>" class="list-item__img"/>
                                        <div class="list-item__meta">
                                            <h3 class="list-item__name"><%= item.typeLine %></h3>
                                            <p class="list-item__amount">
                                                Amount: <% if (!item.stackSize) { %>
                                                    1
                                                <% } else { %>
                                                    <%= item.stackSize %>
                                                <% } %>
                                            </p>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>
