<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css" type="text/css">
        <title>Result</title>
    </head>
    <body>
        <div class="main">
            <div class="wrapper">
                <% let items = Object.values(organizedItems); %>
                <% let category = Object.keys(organizedItems); %>

                <div class="header">
                    <div class="header__wrapper">
                        <div class="header__category">
                            <label class="header__label">
                                Category
                            </label>
                            <select name="category" id="js-select-category" class="header__select">
                                <% for(let i = 0; i < items.length; i++) {%>
                                    <option value="<%= category[i] %>">
                                        <%= category[i] %>
                                    </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="header__functions">
                            <div class="header__sort">
                                <button type="button" class="btn btn__sort btn__sort--name" id="js-sort-by-name-btn">
                                    A - Z
                                </button>
                            </div>
                            <div class="header__sort">
                                <button type="button" class="btn btn__sort btn__sort--value" id="js-sort-by-value-btn"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result">
                    <% for(let i = 0; i < items.length; i++) {%>
                        <div class="content js-content<%= i === 0 ? ' is-active' : ''%> " data-category="<%= category[i]%>">
                            <ul class="list js-list">
                                <% for(let j = 0; j < items[i].length; j++) {%>
                                    <% let item = items[i][j] %>
                                    <% if (item.chaosValue === 0 || !item.chaosValue) { %>
                                        <% continue; %>
                                    <% } else { %>
                                        <li class="list-item js-list-item <% if(item.category === 'jewels') { %>js-is-jewel<% }%>"
                                            data-name="<% if (item.name !== "") { %>
                                                                <%= item.name %>
                                                            <% } else { %>
                                                                <%= item.typeLine %>
                                                            <% } %>"
                                            data-value="<%= item.chaosValue *  Math.round( item.stackSize * 100 ) / 100 %>"
                                            data-id="<%= item.id %>">
                                            <div class="list-item__content">
                                                <div class="list-item__media">
                                                    <img src="<%= item.icon %>" alt="<%= item.typeLine %>" class="list-item__img"/>
                                                </div>
                                                <div class="list-item__meta">
                                                    <p class="list-item__amount">
                                                        <% if (!item.stackSize) { %>
                                                            x1
                                                        <% } else { %>
                                                            x<%= item.stackSize %>
                                                        <% } %>
                                                    </p>
                                                    <div class="list-item__text">
                                                        <h3 class="list-item__name js-item-name">
                                                            <% if (item.name !== "") { %>
                                                                <%= item.name %>
                                                            <% } else { %>
                                                                <%= item.typeLine %>
                                                            <% } %>
                                                        </h3>
                                                        <% if(item.explicitMods) { %>
                                                            <button class="btn btn--accordion js-accordion-toggle"></button>
                                                        <% } %>
                                                    </div>
                                                    <% if(category[i] === 'jewels') { %>
                                                        <a href="#" target="_blank" rel="noopener noreferrer">
                                                            To trade site
                                                        </a>
                                                    <% } %>
                                                    <h4 class="list-item__value js-item-value">
                                                        <%= item.chaosValue %>
                                                        <% if (item.stackSize) { %>
                                                            / <%= Math.round(item.chaosValue *  item.stackSize * 100) / 100 %>
                                                        <% } else { %>
                                                            / 1
                                                        <% } %>
                                                    </h4>
                                                </div>
                                            </div>
                                            <% if(item.explicitMods) { %>
                                                <div class="list-item__accordion js-accordion">
                                                    <ul class="list-item__mods js-item-mods">
                                                        <% for(let k = 0; k < item.explicitMods.length; k++) {%>
                                                            <li class="list-item__mod js-item-mod">
                                                                <%= item.explicitMods[k] %>
                                                            </li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                            <% } %>
                                        </li>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                </div>
            </div>
            <a href="#" class="btn btn--scroll js-btn-scrolltop"></a>
        </div>
        <script type="module" src="js/main.js"></script>
    </body>
</html>
